*.ez
/.fetch
/_build/
/assets/node_modules/
/cover/
/deps/
/doc/
/installer/_build/
/installer/assets/
/installer/deps/
/installer/doc/
/installer/phx_new-*.ez
/integration_test/_build/
/integration_test/deps/
/node_modules/
/priv/static/
/tmp/
erl_crash.dump
etherscan_payments-*.tar
phoenix-*.ez
